{
  "api": "127.53.53.53:80",
  "listen": [
    "127.53.53.53:53"
  ],
  "ttl": 60,
  "blocked": {
    "ipv4": "127.0.0.254",
    "ipv6": "::1",
    "ptr": "invalid."
  },
  "forwarders": [
    "8.8.8.8:53",
    "1.1.1.1:53",
    "9.9.9.9:53"
  ],
  "database": {
    "fs": {
      "path": "/var/torjuja"
    }
  }
}